//variables
$container:1100px;
$gap: 15px;
$col: 12;
$colWidth: 100% / $col;

$primaryColor: pink;
$secondaryColor: #4e4e4e;

$btnBorderColor: $primaryColor;

*{
    box-sizing: border-box;
}

.container{
    max-width: $container;
    width: 100%;
    padding: 0 15px;
    margin: 0 $gap;

}

.ba-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;

}
.ba-row + .ba-row{
    margin-top: 1rem;
}
[class^='ba-col-']{
    padding: 0 15px;
}


@for $i from 1 through $col {
    .ba-col-#{$i}{
        width: $colWidth*$i;
    }
  }

//mixins
@mixin buttonHover{
    background-color: pink;
    border-color: darken($btnBorderColor, 15%);
}